<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for one_user in all_users %}
            <tr>
                <td>{{one_user.id}}</td>
                <td>{{ one_user.first_name }}</td>
                <td>{{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
                <td>
                    <a href="/users/view/{{ one_user.id }}">Show</a> 
                    <a href="/users/edit/{{ one_user.id }}">Edit</a> 
                    <a href="/users/delete/{{ one_user.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}

    </table>

    <a class="btn btn-primary" href="/" role="button">Add a New User</a>
</body>

</html>